.footer {
  background-image: url(/images/images/footer-bg.jpg);

  &-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  }

  &-icon > img {
    padding-left: 60px;
  }

  &-iconlist {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    color: gray;
  }

  &-iconlist > li > a {
    color: gray;
  }

  &-iconlist > li {
    padding-right: 20px;
  }

  &-menulist {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
  }
}

// @media only screen and (max-width: 767px) {
//   .footer-iconlist {
//     text-align: center;
//   }
// }
